@{
    var user = (string) ViewData["user"];
    var admin = (string) ViewData["Admin"];
}

<header class="barra">
        <nav class="menu container">
            <img src='@Url.Content("~/img/logo.png")' alt="ponto digital" height="85px">
            <div class=" conteudo_nav container">
                <ul>
                    <li><a class="link" href='@Url.Action("Index", "Home")'">Home</a></li>

                @if(!string.IsNullOrEmpty(admin))
                {
                    

                    <li><a class="link" href='@Url.Action("ListarRegistro","Home")'>Listar Usuarios</a></li>
                    <li><a class="link" href='@Url.Action("ListarComents","Home")'>Listar Avaliações</a></li>

                    <div class="conteudo_nav2">
                            
                            <li><a id="bt_logout" href='@Url.Action("Logout", "Cliente")' >
                                    <img src='@Url.Content("~/img/logout-512.png")' alt="logout" width="45px"  height="45px">
                                </a></li>
                            

                        </div>
                }
                    else if(!string.IsNullOrEmpty(user))
                    {
                        <li><a class="link" href='@Url.Action("pacotes","Cliente")'>Pacotes</a></li>
                        <li><a class="link" href="mailto:someone@microsoft.com?subject=Hello%20again">Suporte</a></li>
                        <li><a class="link" href='@Url.Action("Comentar","Cliente")'>Avaliações</a></li>

                        <div class="conteudo_nav2">
                            
                            <li><a id="bt_logout" href='@Url.Action("Logout", "Cliente")' >
                                    <img src='@Url.Content("~/img/logout-512.png")' alt="logout" width="45px"  height="45px">
                                </a></li>
                            

                        </div>

                         
                    }

                    else 
                    {
                        <li><a class="link" href='@Url.Action("Oq", "Cliente")'>Produto</a></li>
                        <li><a class="link" href='@Url.Action("QuemSms", "Cliente")'>Quem somos ?</a></li>

                        <div class="conteudo_nav2">
                            <li><a class="link" id="bt_login" href='@Url.Action("Index", "Cadastro")'>Cadastro </a></li>

                            <li><a id="login" href='@Url.Action("Login", "Cliente")'>
                                <img src='@Url.Content("~/img/perfil.png")' alt="login" width="50%" height="50%">
                            </a></li>

                        </div>


                    }

                </ul>
            </div>
        </nav>
    </header>
